fieldset {
    width: 360px;
    margin: 0 auto;
}

legend {
    font-weight: bold;
}

table {
    width: 390px;
    margin: 2em auto;
}

tr:nth-child(odd) {
    background-color: #F0E68C;
}

td {
    text-align: center;
    width: 50%;
}

label {
    display: inline-block;
    width: 250px;
}

input {
    width: 90px;
}